PORT=3000
MONGODB_USER=vvvemanresuaretne
MONGODB_PASSWORD=Vv8VcgfHgHOsjEKX
MONGODB_URL=cluster0.wt8ptlk.mongodb.net
MONGODB_DB=contact

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=765fb3001@smtp-brevo.com
SMTP_PASSWORD=xsmtpsib-f533f9d1eab7ec239c37eaa378366307ac9ba7c13c08c93f0a608c40d176d64d-LgVDT6st1m0523Mb
SMTP_FROM=vladislavapelhants@gmail.com

JWT_SECRET=wKYqbcFlT0AOdZPkyTH6URf0gG

APP_DOMAIN=http://localhost:3000